* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
}

.hero {
  text-align: center;
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 3em 2em;
  color: #fff;
}

input,
button {
  display: block;
  margin: 0 auto;
  width: 30vw;
  border-radius: 6px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

input {
  font-size: 4rem;
  height: 100px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  font-weight: 800;
  background-color: transparent;
  padding-top: 0.2em;
  margin-bottom: 0.2em;
}

button {
  background-color: #f8f8f8;
  color: #b91d73;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  text-align: center;
  border: none;
}
